<!DOCTYPE html>
<html>
<head>
	<title>APK Zen</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<style type="text/css">
		body {
			margin-top: 70px;
		}
	</style>
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a href="index.html" class="navbar-brand">APK Zen</a>
			</div>
		</div>
	</div>
	<div class="container">
		{{ content }}
	</div>
</body>
</html>