---
layout: default
---

<style type="text/css">
	body {
		a-margin-bottom: 60px;
	}
</style>

<table class="table table-bordered">
	<tbody>
		<tr>
			<td>
				<img src="{{ page.icon }}" class="icon">
			</td>
			<td>
				<h3 class="judul">{{ page.title }}</h3>
				<p>{{ page.blurb }}</p>
			</td>
		</tr>
	</tbody>
</table>

{{ content }}

{% for x in page.screenshot %}
	<p><img src="{{ x }}" alt="" class="screenshot"></p>
{% endfor %}

<div class="navbar navbar-default navbar-fixed-bottom">
	<div class="container">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td>
						<a href="{{ page.download }}" class="btn btn-success">Download</a>
					</td>
					<td>
						<a href="mailto:muhzaini30@gmail.com" class="btn btn-default">Email Me</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>